@charset "UTF-8";
/* ---------- COLORS --------------- */
/* Color styles */
:root {
  --primary-100: rgba(68, 112, 0, 1);
  --primary-900: rgba(251, 255, 227, 1);
  --primary-800: rgba(242, 253, 171, 1);
  --primary-700: rgba(233, 251, 116, 1);
  --primary-600: rgb(247, 235, 63);
  --primary-500: rgb(242, 227, 10);
  --primary-400: rgb(255, 204, 1);
  --primary-300: rgba(137, 184, 0, 1);
  --primary-200: rgba(101, 148, 0, 1);
  --secondary-500: #3cacd1;
  --secondary-700: #7cd4f1;
  --gray-100: rgba(4, 5, 23, 1);
  --gray-200: rgba(29, 30, 48, 1);
  --gray-300: rgba(51, 53, 76, 1);
  --gray-400: rgba(73, 79, 105, 1);
  --gray-500: rgba(95, 104, 135, 1);
  --gray-600: rgba(120, 131, 160, 1);
  --gray-700: rgba(150, 161, 182, 1);
  --gray-800: rgba(179, 187, 204, 1);
  --gray-900: rgba(208, 214, 228, 1);
  --gray-1000: rgba(234, 241, 255, 1);
  --alert: rgba(213, 62, 61, 1);
  --warning: rgba(231, 151, 30, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --success: rgba(97, 170, 60, 1);
  --dark-text: rgba(51, 53, 76, 1);
  --light-text: rgba(255, 255, 255, 1);
  --primary-g-500: rgba(211, 242, 10, 1);
  --primary-g-900: rgba(251, 255, 227, 1);
  --primary-g-100: rgba(68, 112, 0, 1);
  --primary-g-700: rgba(233, 251, 116, 1);
  --primary-g-800: rgba(242, 253, 171, 1);
  --primary-g-600: rgba(222, 247, 63, 1);
  --primary-g-500: rgb(242, 227, 10);
  --primary-g-400: rgba(174, 219, 0, 1);
  --primary-g-300: rgba(137, 184, 0, 1);
  --primary-g-200: rgba(101, 148, 0, 1);
}

/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------------- UTOPIA -------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.25|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.61rem, calc(0.56rem + 0.24vw), 0.80rem);
  --step--1: clamp(0.73rem, calc(0.66rem + 0.34vw), 1.00rem);
  --step-0: clamp(0.88rem, calc(0.78rem + 0.47vw), 1.25rem);
  --step-1: clamp(1.05rem, calc(0.92rem + 0.64vw), 1.56rem);
  --step-2: clamp(1.26rem, calc(1.09rem + 0.87vw), 1.95rem);
  --step-3: clamp(1.51rem, calc(1.28rem + 1.16vw), 2.44rem);
  --step-4: clamp(1.81rem, calc(1.51rem + 1.55vw), 3.05rem);
  --step-5: clamp(2.18rem, calc(1.77rem + 2.05vw), 3.82rem);
  --step-6: clamp(2.61rem, calc(2.07rem + 2.69vw), 4.77rem);
  --step-7: clamp(3.14rem, calc(2.43rem + 3.53vw), 5.96rem);
  --step-8: clamp(3.76rem, calc(2.84rem + 4.61vw), 7.45rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.25|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.44rem, calc(0.37rem + 0.33vw), 0.63rem);
  --space-xs: clamp(0.69rem, calc(0.60rem + 0.43vw), 0.94rem);
  --space-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-m: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
  --space-l: clamp(1.75rem, calc(1.49rem + 1.30vw), 2.50rem);
  --space-xl: clamp(2.63rem, calc(2.23rem + 1.96vw), 3.75rem);
  --space-2xl: clamp(3.50rem, calc(2.98rem + 2.61vw), 5.00rem);
  --space-3xl: clamp(5.25rem, calc(4.47rem + 3.91vw), 7.50rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.26rem + 0.87vw), 0.94rem);
  --space-xs-s: clamp(0.69rem, calc(0.49rem + 0.98vw), 1.25rem);
  --space-s-m: clamp(0.88rem, calc(0.64rem + 1.20vw), 1.56rem);
  --space-m-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
  --space-l-xl: clamp(1.75rem, calc(1.05rem + 3.48vw), 3.75rem);
  --space-xl-2xl: clamp(2.63rem, calc(1.80rem + 4.13vw), 5.00rem);
  --space-2xl-3xl: clamp(3.50rem, calc(2.11rem + 6.96vw), 7.50rem);
  /* Custom pairs */
  --space-s-l: clamp(0.88rem, calc(0.31rem + 2.83vw), 2.50rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,14,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.25|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(0.88rem, calc(0.31rem + 2.83vw), 2.50rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: -ms-grid;
  display: grid;
  gap: var(--grid-gutter);
  max-width: var(--grid-max-width);
  margin: 0 auto;
  -ms-grid-columns: [full-start] var(--grid-gutter) minmax(0, 1fr) var(--grid-gutter) [main-start] var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) [main-end] var(--grid-gutter) minmax(0, 1fr) var(--grid-gutter) [full-end];
  grid-template-columns: [full-start] minmax(0, 1fr) [main-start] repeat(12, minmax(0, 60px)) [main-end] minmax(0, 1fr) [full-end];
}

.bg--dark {
  background: radial-gradient(117.18% 85.73% at 0% -8.7%, #494F69 0%, #33354C 0%, #1D1E30 100%);
}

:root {
  --header-logo-height: 50px;
  --header-height: calc(var(--header-logo-height) + (var(--space-s) * 2));
}

@media screen and (min-width: 768px) {
  :root {
    --header-logo-height: 70px;
  }
}
@font-face {
  font-family: "nunito_sansblack";
  src: url("../font/nunito/nunitosans-black-webfont.woff2") format("woff2"), url("../font/nunito/nunitosans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunito_sansextrabold";
  src: url("../font/nunito/nunitosans-extrabold-webfont.woff2") format("woff2"), url("../font/nunito/nunitosans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunito_sansregular";
  src: url("../font/nunito/nunitosans-regular-webfont.woff2") format("woff2"), url("../font/nunito/nunitosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../font/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../font/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../font/roboto/roboto-light-webfont.woff2") format("woff2"), url("../font/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.display-1 {
  color: var(--gray-300);
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-8) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-xl);
}

.display-2 {
  color: var(--gray-300);
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-7) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-xl);
}

.display-3 {
  color: var(--gray-300);
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-6) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-xl);
}

h1, .heading-1 {
  color: var(--gray-300);
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-5) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-xl);
  margin-top: var(--space-2xl);
}

h2, .heading-2 {
  color: var(--gray-300);
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-4) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-xl);
}

h3, .heading-3 {
  color: var(--gray-300);
  font-family: "nunito_sansextrabold" !important;
  font-size: var(--step-3) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-xl);
}

h4, .heading-4 {
  color: var(--gray-300);
  font-family: "nunito_sansextrabold" !important;
  font-size: var(--step-2) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-l);
}

h5, .heading-5 {
  color: var(--gray-300);
  font-family: "robotobold" !important;
  font-size: var(--step-1) !important;
  line-height: 1.12em;
  margin-bottom: var(--space-m);
  margin-top: var(--space-l);
}

body, p, .text-base {
  color: var(--gray-400);
  font-family: "robotolight";
  font-size: var(--step-0) !important;
  line-height: 1.6em;
}

.font-size--sm {
  font-size: var(--step--1) !important;
}

p, .text-base {
  letter-spacing: 0.01em;
}

strong, .p--bold {
  font-family: "robotobold" !important;
}

a {
  color: var(--secondary-500);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-700);
  text-decoration: none !important;
}

p a {
  border-bottom: 1px solid var(--primary-500);
}
p a:hover {
  border-bottom: 1px solid var(--primary-400);
}

ul {
  list-style: none;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg p, .dark-bg li, .dark-bg button {
  color: var(--light-text);
}
.light-bg h1, .light-bg h2, .light-bg h3, .light-bg h4, .light-bg h5, .light-bg p, .light-bg li, .light-bg button {
  color: var(--dark-text);
}

.section__title {
  padding: var(--space-xl) 0;
}
.section__title .custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: var(--space-m);
}
.section__title h1, .section__title h2 {
  margin: 0;
}
.section__title h2 {
  font-size: var(--step-3) !important;
  font-family: "nunito_sansextrabold" !important;
}

.module__title {
  padding-bottom: var(--space-l);
}
.module__title h1, .module__title h2, .module__title h3, .module__title h4, .module__title h5 {
  margin: 0;
}
.module__title h3:has(+ h5) {
  margin-bottom: var(--space-s);
}

.header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-image: none;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.header.bg--white {
  background-color: #fff !important;
  border-bottom: 1px solid var(--gray-700);
}
.header .u-grid {
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: var(--space-s) 0;
}
.header .navbar-brand {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/span 8;
  padding: 0;
}
.header .container-nav {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 0;
}
.header .container-nav nav {
  margin-top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header .brand-logo img {
  display: block;
  max-height: var(--header-logo-height);
}
.header .navbar-toggler, .header .navbar-toggler:focus {
  color: var(--gray-300);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .icon-menu:before {
  font-size: var(--step-6);
}
.header .navbar-collapse.show {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1em;
  padding: var(--space-m) 0;
  background: radial-gradient(117.18% 85.73% at 0% -8.7%, #494F69 0%, #33354C 0%, #1D1E30 100%);
}
.header .navbar-collapse.show .mod-menu li {
  color: var(--gray-700);
  font-family: "nunito_sansregular";
  font-size: var(--step-2);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .navbar-collapse.show .mod-menu li.active a {
  color: var(--primary-500);
  text-decoration: none;
}

.site-grid, .u-grid {
  grid-gap: 0 var(--grid-gutter);
  -ms-grid-columns: [full-start] var(--grid-gutter) minmax(0, 1fr) var(--grid-gutter) [main-start] var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) minmax(0, 60px) var(--grid-gutter) [main-end] var(--grid-gutter) minmax(0, 1fr) var(--grid-gutter) [full-end];
  grid-template-columns: [full-start] minmax(0, 1fr) [main-start] repeat(12, minmax(0, 60px)) [main-end] minmax(0, 1fr) [full-end];
}
.site-grid .container-component, .u-grid .container-component {
  grid-column: main-start/span 8;
}
.site-grid .container-sidebar-right, .u-grid .container-sidebar-right {
  -ms-grid-column: 14;
  -ms-grid-column-span: -4;
  grid-column: 14/10;
}

@media screen and (min-width: 1024px) {
  .ab-header .u-grid {
    padding: var(--space-m) 0;
  }
  .navbar-brand {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 3 !important;
    grid-column: 2/span 3 !important;
  }
  .container-nav, .navbar, .navbar-collapse {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .container-nav {
    -ms-grid-column-span: 10 !important;
    grid-column: span 10 !important;
  }
  .container-nav .mod-menu {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .container-nav .mod-menu li {
    color: var(--gray-300);
    font-family: "nunito_sansextrabold";
    text-transform: uppercase;
    padding: 0 1em !important;
  }
}
picture.image-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: var(--space-xl) var(--space-m);
  padding: var(--space-s) var(--space-l);
  font-family: "nunito_sansextrabold";
}
.btn.btn--cta {
  width: 100%;
  background-color: var(--gray-200);
  border: 3px solid var(--primary-500);
  -webkit-box-shadow: 0px 14px 19px rgba(0, 0, 0, 0.29), 0px 4.22059px 8.28099px rgba(0, 0, 0, 0.19), 0px 1.75302px 3.3426px rgba(0, 0, 0, 0.14), 0px 0.634032px 1.58367px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 14px 19px rgba(0, 0, 0, 0.29), 0px 4.22059px 8.28099px rgba(0, 0, 0, 0.19), 0px 1.75302px 3.3426px rgba(0, 0, 0, 0.14), 0px 0.634032px 1.58367px rgba(0, 0, 0, 0.1);
  color: var(--primary-500);
}

.accordion-item {
  background-color: transparent;
}
.accordion-item h5 {
  margin-top: 0;
}

.accordion-button {
  padding: var(--space-m) var(--space-s);
  gap: var(--space-s);
  background-color: transparent;
  color: var(--gray-200);
  font-size: var(--step-1);
  font-family: "nunito_sansextrabold";
}
.light-bg .accordion-button {
  color: var(--gray-200);
}
.dark-bg .accordion-button {
  color: var(--gray-800);
}

.accordion-header__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--space-l);
          flex: 0 0 var(--space-l);
  height: var(--space-l);
  background-color: var(--gray-200);
}
.accordion-header__icon.icon--progetto {
  -webkit-mask-image: url("/images/icons/servizi/gray/progetto.svg");
          mask-image: url("/images/icons/servizi/gray/progetto.svg");
}
.accordion-header__icon.icon--accumulo {
  -webkit-mask-image: url("/images/icons/servizi/gray/sistemi-accumulo.svg");
          mask-image: url("/images/icons/servizi/gray/sistemi-accumulo.svg");
}
.accordion-header__icon.icon--installazione {
  -webkit-mask-image: url("/images/icons/servizi/gray/pannello-solare.svg");
          mask-image: url("/images/icons/servizi/gray/pannello-solare.svg");
}
.accordion-header__icon.icon--pompe {
  -webkit-mask-image: url("/images/icons/servizi/gray/pompe-calore.svg");
          mask-image: url("/images/icons/servizi/gray/pompe-calore.svg");
}
.accordion-header__icon.icon--consulenza {
  -webkit-mask-image: url("/images/icons/servizi/gray/burocrazia.svg");
          mask-image: url("/images/icons/servizi/gray/burocrazia.svg");
}
.accordion-header__icon.icon--assistenza {
  -webkit-mask-image: url("/images/icons/servizi/gray/assistenza.svg");
          mask-image: url("/images/icons/servizi/gray/assistenza.svg");
}
.accordion-header__icon.icon--consumi {
  -webkit-mask-image: url("/images/icons/servizi/gray/consumi.svg");
          mask-image: url("/images/icons/servizi/gray/consumi.svg");
}
.accordion-header__icon.icon--ricarica {
  -webkit-mask-image: url("/images/icons/servizi/gray/colonnine.svg");
          mask-image: url("/images/icons/servizi/gray/colonnine.svg");
}
.accordion-header__icon.icon--terreni {
  -webkit-mask-image: url("/images/icons/servizi/gray/fotovoltaico.svg");
          mask-image: url("/images/icons/servizi/gray/fotovoltaico.svg");
}
.dark-bg .accordion-header__icon {
  background-color: var(--gray-800);
}
.light-bg .accordion-header__icon {
  background-color: var(--gray-200);
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}
.light-bg .accordion-button:not(.collapsed) {
  color: var(--primary-400);
}
.light-bg .accordion-button:not(.collapsed) .accordion-header__icon {
  background-color: var(--primary-400);
}
.dark-bg .accordion-button:not(.collapsed) {
  color: var(--primary-600);
}
.dark-bg .accordion-button:not(.collapsed) .accordion-header__icon {
  background-color: var(--primary-600);
}

@media screen and (min-width: 1240px) {
  .accordion-body {
    padding-left: var(--space-2xl);
  }
}
.module--hero {
  margin-bottom: 0;
  overflow: hidden;
}
.module--hero .mod-custom, .module--hero .hero__content {
  height: 100%;
  text-align: center;
}
.module--hero .hero__image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.module--hero .hero__content {
  position: relative;
  z-index: 10;
}
.module--hero .hero__title {
  text-align: center;
  line-height: 1em;
}
.module--hero .hero__subtitle {
  margin-top: var(--space-s);
}

.modal-dialog {
  margin: 0;
}

.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: var(--space-s);
  background-color: var(--gray-200);
}
.modal-header .modal-title {
  color: var(--light-text);
  margin: 0;
}
.modal-header .btn-close {
  background-image: url("/images/icons/bootstrap-modal-close-light.svg");
}

.modal-body {
  padding-top: 50px;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: inherit;
  }
  .modal-body {
    max-width: 520px;
    margin: 0 auto;
  }
}
[data-rlta-element=button-list] {
  gap: 0 !important;
}

[data-rlta-element=button] {
  background-color: var(--gray-500) !important;
  border-color: var(--gray-400) !important;
  border-radius: 0 !important;
}

[data-rlta-element=heading] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: var(--space-m);
  padding: var(--space-l) var(--space-xl);
  font-family: "nunito_sansregular";
  font-size: var(--step-9) !important;
  text-transform: uppercase;
  color: var(--light-text);
}
[data-rlta-element=heading]:before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  height: 50px;
  background-color: var(--light-text);
  -webkit-mask-size: 50px 50px;
          mask-size: 50px 50px;
}

[data-rlta-alias=privati] h3:before {
  -webkit-mask-image: url("/images/icons/servizi/gray/privati.svg");
          mask-image: url("/images/icons/servizi/gray/privati.svg");
}

[data-rlta-alias=aziende] h3:before {
  -webkit-mask-image: url("/images/icons/servizi/gray/aziende.svg");
          mask-image: url("/images/icons/servizi/gray/aziende.svg");
}

[data-rlta-alias=condomini] h3:before {
  -webkit-mask-image: url("/images/icons/servizi/gray/condomini.svg");
          mask-image: url("/images/icons/servizi/gray/condomini.svg");
}

[data-rlta-alias=comunita] h3:before {
  -webkit-mask-image: url("/images/icons/servizi/gray/comunita.svg");
          mask-image: url("/images/icons/servizi/gray/comunita.svg");
}

[data-rlta-element=button]:not([data-rlta-state=closed]) {
  background: var(--primary-500) !important;
  border-color: var(--primary-200) !important;
}
[data-rlta-element=button]:not([data-rlta-state=closed]) [data-rlta-element=heading] {
  color: var(--dark-text);
}
[data-rlta-element=button]:not([data-rlta-state=closed]) [data-rlta-element=heading]:before {
  background-color: var(--dark-text);
}

.module--counter {
  border: none;
}

.counter {
  padding: var(--space-m) 0;
  border-bottom: 1px solid var(--gray-900);
}
.counter .heading-3 {
  margin-top: 0;
  font-family: "nunito_sansblack" !important;
  font-size: var(--step-5) !important;
  letter-spacing: 0.05em;
  color: var(--primary-400);
}

.article--scard {
  text-align: center;
}
.article--scard h1 {
  font-size: var(--step-0) !important;
  font-family: "nunito_sansextrabold" !important;
  text-transform: uppercase;
  color: var(--gray-800);
  margin: var(--space-l);
}

.scard__body p {
  color: var(--gray-800);
  padding: 0 var(--space-m);
}

.scard__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scard__timeline .time-line--left, .scard__timeline .time-line--right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 8px;
  background-color: var(--secondary-500);
}
.scard__timeline .timeline-circle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    -webkit-transform: translateX(33.3333333333%);
            transform: translateX(33.3333333333%);
    opacity: 0;
    visibility: visible;
  }
  .carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
    opacity: 0;
    visibility: visible;
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}
.carousel-item.active {
  visibility: visible;
}
.carousel-item .article--scard {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../font/slick/slick.eot");
  src: url("../font/slick/slick.eot?#iefix") format("embedded-opentype"), url("../font/slick/slick.woff") format("woff"), url("../font/slick/slick.ttf") format("truetype"), url("../font/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 52px;
  line-height: 1;
  color: var(--primary-500);
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@media screen and (min-width: 1300px) {
  .slick-prev {
    left: -25px;
  }
  .slick-next {
    right: 25px;
  }
}
/*# sourceMappingURL=user.css.map */