@use '../foundation/typo' as t;

.module--counter {
    border: none;
}

.counter {
    padding: var(--space-m) 0;
    border-bottom: 1px solid var(--gray-900);
    .heading-3 {
        margin-top: 0;
        font-family: t.$heading-black;
        color: var(--primary-400);
    }
}