
.modal-dialog {
    margin: 0;
}
.modal-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;   
    z-index: 10; 
    padding: var(--space-s);
    background-color: var(--gray-200);
    .modal-title {
        color: var(--light-text);
        margin: 0;
    }
    .btn-close {
        background-image: url('/images/icons/bootstrap-modal-close-light.svg');
    }
}
.modal-body {
    padding-top: 50px;
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: inherit;
    }
    .modal-body {
        max-width: 520px;
        margin: 0 auto;
    }
}