@use "../../cassiopeia_ab_default/scss/foundation/" as f;

// Verificare che siano effettivamente usati tutti i componenti
@use "../../cassiopeia_ab_default/scss/components" as c;

// Bootstrap

@supports (display: grid) {
    .site-grid {
        display: grid;
        grid-template-areas:
            ". banner banner banner banner ."
            ". top-a top-a top-a top-a ."
            ". top-b top-b top-b top-b ."
            ". comp comp comp comp ."
            ". side-r side-r side-r side-r ."
            ". side-l side-l side-l side-l ."
            ". bot-a bot-a bot-a bot-a ."
            ". bot-b bot-b bot-b bot-b ."
            ". bot-c bot-c bot-c bot-c .";

        @media screen and (min-width: 1024px) {
            grid-template-areas:
                ". banner banner banner banner ."
                ". top-a top-a top-a top-a ."
                ". top-b top-b top-b top-b ."
                ". side-l comp comp side-r ."
                ". bot-a bot-a bot-a bot-a ."
                ". bot-b bot-b bot-b bot-b ."
                ". bot-c bot-c bot-c bot-c .";
        }
    }
}

.container-bottom-c {
    grid-area: bot-c;
}

// ---> Banner
.container-banner {
    margin-bottom: 0;
}
.hero--home-page {
    height: calc(54vh + var(--header-height));

    .hero__title {
        margin-bottom: 0;
    }
}

// ---> Target
.target {
    padding: f.$section-padding-bottom 0;

    background: url("/images/backgrounds/traliccio/600.jpg") no-repeat fixed top center var(--gray-200);
    background-size: contain;

    // Layout
    .u-grid {
        grid-auto-rows: min-content;
        backdrop-filter: blur(10px);
        background-color: rgba(26, 30, 49, 0.82) !important;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.14), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.10064),
            0px 22.3363px 17.869px rgba(0, 0, 0, 0.083455), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.07),
            0px 6.6501px 5.32008px rgba(0, 0, 0, 0.056545), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0393604);
        border-radius: 8px;
    }

    .module--target,
    .tabs--target {
        grid-column: 2 / 14;
        grid-row: 2 / 3;
    }

    // --> Title
    .section__title {
        grid-column: 2 / 14;
        grid-row: 1 / 2;

        h1,
        h2 {
            color: var(--light-text);
        }
    }

    // ---> MOBILE: it uses the buttons + modals
    .modal-buttons__container {
        gap: var(--grid-gutter);
    }

    .card--button {
        $cardWidth: calc(50% - (var(--grid-gutter) * 2 ));
        flex: 1 0 $cardWidth;
        margin: 0;
        gap: var(--space-m);
        align-items: center;
        padding: var(--space-l) var(--space-m);

        background: f.$grad-green-light;
        border: 4px solid var(--primary-800);
        color: var(--dark-text);

        font-size: var(--step-1);
        font-family: f.$heading-black;
    }

    // ---> DESKTOP: tabs module activated

    .tabs--target {
        padding-bottom: var(--space-l);
        .page-header {
            display: none;
        }
        .com-content-article__body {
            h3 {
                margin-bottom: var(--space-l);
            }
        }
    }

    // --> Tabs Content
    [data-rlta-element="panel-content"] {
        padding: 0 !important;
    }
    [data-rlta-element="panel"] {
        background-color: transparent !important;
        border: none !important;
    }

    // -> Tabs content recalled articles
    .intervento {
        flex-flow: row wrap;
        gap: var(--grid-gutter);

        .descrizione-intervento,
        .lista-interventi {
            flex: 1 1 0;
        }

        .descrizione-intervento ul li {
            margin-bottom: var(--space-xs);
            font-family: f.$body-bold;
        }

        .lista-interventi {
            margin-top: calc(var(--space-m) * -1);

            .accordion-body p {
                font-size: var(--step--1) !important;
            }
        }
    }
}

.modal-body .intervento {
    flex-flow: column;
}

// ---> vantaggi

.pg--home {
    .container-component {
        padding-top: f.$section-padding-top;
        padding-bottom: var(--space-l);
        grid-column: 2 / 14;
    }
    .article__title h2 {
        margin-top: 0;
    }
}

.lista--vantaggi {
    padding-left: 0;
    .list-item__title {
        img {
            display: none;
        }
    }
}

// ---> Counters Module
.pg--home {
    .container-sidebar-right {
        grid-column: 2/14;
        padding-bottom: f.$section-padding-bottom;
    }
}

.module--counter {
    .card-body {
        padding: 0 var(--space-l);
    }
    h3 {
        color: var(--gray-600);
        margin: 0 0 var(--space-xs) 0;
    }
}

// ---> CTA

.container-bottom-a {
    background-image: url("/images/backgrounds/bg-cta-y.jpg");
    background-size: cover !important;
    background-position: center center;
    padding: f.$section-padding-top 0;
}

.module--cta {
    .custom {
        grid-column: 2 / 14;
    }
    .btn--cta {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
// ----> Sopralluogo
.cta__content {
    padding: 0 var(--space-m);
    gap: var(--space-xl);
    h3 {
        margin-top: 0;
        margin-bottom: var(--space-xl);
    }
    h5 {
        margin-top: var(--space-m);
        margin-bottom: var(--space-xl);
    }
}

// ---> Qr Code Contatti
.cta__contacts {
    display: grid;
    grid-template-areas: 'a'
    'b'
    'c';
    background-color: var(--gray-900);
    border-radius: 6px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.14), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.10064),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.083455), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.07),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.056545), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0393604);
    .section--qrscan,
    .section--contatti {
        padding: var(--space-m);
        width: 100%;
    }
    p {
        margin-bottom: 0;
    }
    .scan-icon,
    .img-qrcode {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
    }

    .section--qrscan {
        background: radial-gradient(117.18% 85.73% at 0% -8.7%, #494f69 0%, #33354c 0%, #1d1e30 100%);
        p {
            text-align: center;
            color: var(--light-text);
        }
    }
    .section--contatti {
        text-align: left;

        p,
        a {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: var(--space-m);
            margin-bottom: var(--space-s);
            font-size: var(--step-1) !important;
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                width: 24px;
                height: 24px;
                background-color: transparent;
            }
        }
        a {font-family: f.$heading-extrabold;}
        .indirizzo:before {
            background-image: url('/images/icons/line-icons/apartment.svg');
        }
        .telefono:before {
            background-image: url('/images/icons/line-icons/phone-set.svg');
        }
        .email:before {
            background-image: url('/images/icons/line-icons/envelope.svg');
        }
        .pec:before {
            background-image: url('/images/icons/line-icons/protection.svg');
        }
        .web:before {
            background-image: url('/images/icons/line-icons/website.svg');
        }
        
    }
}

// --> BOTTOM-B Carousel Slider servizi

.container-bottom-b {
    padding: var(--space-3xl) 0;
    background: url("../images/install-01.jpeg") no-repeat scroll center center transparent;
    background-size: cover;
    .moduletable {
        grid-column: main-start/main-end;
        padding: var(--space-l) 0;
        background: linear-gradient(180deg, rgba(120, 131, 160, 0.7) 0%, rgba(51, 53, 76, 0.7) 100%);
        background-blend-mode: multiply;
        border: 1px solid #7883a0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 38px 56px rgba(0, 0, 0, 0.03),
            0px 15.8755px 23.3955px rgba(0, 0, 0, 0.0220479), 0px 8.4878px 12.5083px rgba(0, 0, 0, 0.018902),
            0px 4.75819px 7.01207px rgba(0, 0, 0, 0.0164528), 0px 2.52704px 3.72406px rgba(0, 0, 0, 0.0138157);
        backdrop-filter: blur(8.775px);
    }
    // Title
    .module__title {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
        h3,
        h5 {
            color: var(--gray-900) !important;
        }
    }

    // Slick carousel servizi
    .slick-slide:first-child {
        .time-line--left {
            background-color: transparent;
        }
    }
    .slick-slide:last-child {
        .time-line--right {
            background-color: transparent;
        }
    }

    // Articles
    .scard__body p {
        font-size: var(--step--1) !important;
        font-family: f.$body-bold;
    }
}

// --> BOTTOM-C - Form & History

.container-bottom-c {
    background: url('/images/backgrounds/icon-patterm-02.svg') repeat scroll top left transparent;
    background-size: 200px;
    padding: var(--space-3xl) 0;
    position: relative;
    &:before {
        content: '';
        background-image: linear-gradient(white, rgba(255, 255, 255, 0));
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .u-grid {
        background-color: #fff;
        padding: var(--space-l) 0;
        border-radius: 8px;
        box-shadow: f.$shadow-container;
        z-index: 10;
    }
    // Layout
    .module-form {
        grid-column: 2 / 14;
        .custom {
            background-color:rgba(255,255,255, 0.8);
            border-radius: var(--space-s);
            
            .convertforms {
                background-color: transparent;
            }
        }
    }
    .module-storia {
        grid-column: 2 / 14;
    }
    // Contenuti Form
    .module__content {
        .convertforms {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            max-width: 600px;
        }
    }
    // Contenuti Articolo Ab energia
    .module-storia .com-content-article {
        padding-bottom: var(--space-s);
    }
    .module-storia .com-content-article__body {
        p {
            font-size: var(--step--1) !important;
        }
    }
    // Brands
    .supported-brands {
        img {
            display: block;
            width: 100%;
            max-width: 300px;
            margin: var(--space-s) auto;
            padding: var(--space-s);
            background-color: #fff;

        }
    }
}

// --> FOOTER

.footer {
    background: url('/images/backgrounds/wave-black.jpg') no-repeat scroll center center transparent;
    background-size: cover;
    margin-top: 0;
    .grid-child {
        flex-flow: column wrap;
        .footer-address {
            color: var(--gray-900);
            margin-bottom: var(--space-m);
            img {margin-bottom: var(--space-s);}
            a {
                color: var(--secondary-500);
                transition: all 0.5s ease-in-out;   
                text-decoration: none;
                border-bottom: none;
                font-size: var(--step--1) !important;
                &:hover {
                    color: var(--secondary-700);        
                    text-decoration: none !important;
                }
            }
            p {
                color: var(--gray-900);
                margin-bottom: 0;
                font-size: var(--step--1) !important;
            }
        }
        .footer-menu {
            margin-bottom: 0;
            li a {
                color: var(--secondary-500);
            }
        }
        .footer-copyright {
            margin-top: var(--space-m);
            text-align: center;
            font-size: var(--step--1);
            .footer2 {
                font-size: var(--step--2);
                color: var(--gray-600);
            }
        }
    }
}


@media screen and (min-width: 600px) {
    // ---> Banner
    .hero--home-page {
        .hero__title,
        .hero__subtitle {
            text-align: left;
        }
    }

    // ---> Targets
    .target .card--button {
        flex-direction: row !important;

        img {
            flex: 0 0 35%;
            width: 35%;
        }
    }
}

@media screen and (min-width: 768px) {
    // ---> Banner
    .hero--home-page {
        height: calc(65vh + var(--header-height));

        .hero__title {
            max-width: 60%;
        }
    }

    // ---> Targets
    .target {
        background: url("/images/backgrounds/traliccio/1023.jpg") no-repeat scroll bottom center var(--gray-200);
    }
    .target .card--button {
        flex-direction: column !important;
        flex: 1 1 0;
        width: 25%;


        img {
            flex: 1 1 0;
            width: 100%;
        }
    }

    // ---> Counters
    .module--counter {
        .counter {
            flex: 1 0 50%;
        }
    }

    // ---> QR Code Card
    .cta__contacts {
        grid-template-areas: 'a b'
        'c b';

        .section--top {
            grid-area: a;
        }
        .section--qrscan {
            grid-area: c;
            justify-content: center;
        }
        .section--contatti {
            grid-area: b;
        }
    }

    // ---> Form e Ditta
    .container-bottom-c {
        .module-form {
            grid-column: main-start / 10;
        }
        .module-storia {
            grid-column: 10 / main-end;
        }
    }
}

@media screen and (min-width: 1024px) {
    // ---> Banner
    .hero--home-page {
        height: calc(75vh + var(--header-height));

        .hero__title {
            max-width: 60%;
        }
    }

    // ---> TARGET
    .target {
        background: url("/images/backgrounds/traliccio/1400.jpg") no-repeat scroll bottom left var(--gray-200);
    }

    // ---> MAIN CONTENT
    .pg--home {
        .container-component {
            grid-column: 2/10;
            padding: f.$section-padding-top 0;
        }
        .container-sidebar-right {
            grid-column: 10/14;
            padding: f.$section-padding-top 0;
            .module--counter {
                .counter {
                    flex: 0 0 100%;
                }
            }
        }
    }
    // ---> CTA Container
    .cta__container {
        gap: var(--space-3xl);
        .cta__content {
            flex: 1 1 0;
        }
        .cta__contacts {
            flex: 1 0 0;
        }
    }
    // ---> QR Code Card
    .cta__contacts {
        grid-template-areas: 'a'
        'b'
        'c';

        .section--top {
            grid-area: a;
        }
        .section--qrscan {
            grid-area: b;
        }
        .section--contatti {
            grid-area: c;
        }
    }
}

@media screen and (min-width: 1400px) {

    // ---> TARGET
    .target {
        background: url("/images/backgrounds/traliccio/2500.jpg") no-repeat scroll bottom left var(--gray-200);
    }

    // ---> CTA Container
    .cta__container {
        gap: var(--space-3xl);
        .cta__content {
            flex: 2 1 0;
        }
        .cta__contacts {
            flex: 1 0 0;
        }
    }
    // ---> CONTATTI
    .cta__content {
        .btn--cta {
            max-width: none;
            font-size: var(--step-2);
        }
    }
    .cta__contacts {
        .section--qrscan {display: none !important;}
        .section--contatti {
            h5 {margin-top: var(--space-xs);}
            p, a {
                font-size: var(--step--1) !important;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    // ---> Banner
    .hero--home-page {
        height: calc(80vh + var(--header-height));
    }
}

// -> Pictures

// + Image cover all the space +
